---
import Section from "@/components/common/Section.astro";
import Layout from "@/layouts/Layout.astro";
import Card from "../../components/common/Card.astro";
import { competitions } from "../../data/competitions";
---

<Layout title="Competencias" description="Competencias">
  <main>
    <Section title="Competencias" centerTitle centerMdTitle class="pt-40 pb-20">
      <div
        class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center"
      >
        {
          competitions.map(
            ({ title, description, media, mediaType, date, id, link }) => (
              <Card
                id={id}
                title={title}
                description={description}
                media={media[0]}
                mediaType={mediaType}
                date={date}
                link={link}
              />
            )
          )
        }
      </div>
    </Section>
  </main>
</Layout>
