---
import Button from "@/components/common/Button.astro";
import Section from "@/components/common/Section.astro";
import LinkIcon from "@/icons/Link.astro";
import Layout from "@/layouts/Layout.astro";
import Card from "../../components/common/Card.astro";
import { mediaProductions } from "../../data/media-productions";
---

<Layout title="Producción" description="Producción">
  <header class="container pt-40 pb-20 text-secondary">
    <h1 class="text-center font-bold text-3xl md:text-4xl">Producción</h1>
  </header>
  <main>
    <Section
      title="Producción audiovisual"
      centerTitle
      centerMdTitle
      class="pb-20"
    >
      <div
        class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center"
      >
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/WLhNkdy111c?si=l7HQxjn3MHC02bkM"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/69pdyGd8tfA?si=3FaxVheGRfg8-UYu"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/OASnNGHm44c?si=_2S6cjNhsUEt6Z0Z"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/koHN_InIHfk?si=aA2kIn8MCaMuszGa"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/gtTJ5a3kwR0?si=nHu2R9Hos3bsBxdi"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/WRNeLSlE0Ec?si=LnG5JtCxP2rOfRrq"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/O6R6NPJJWXo?si=vUqHa5T386OpWuMA"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/Tywerd-EU34?si=kz-EoMIbW41bd8-t"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/GRVngmdsHJo?si=q4RX796azh7ee5JC"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/UpLQRH2EXjc?si=c_2eaABbqNJ_Us2l"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/cBBGqAra8iQ?si=ZbpEspLNZbJZAKcg"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/R-GU6TArSF0?si=QZtEUCNjie04aQ9Z"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/A_7MOXn1dN4?si=c3CHRmW_HpvM64Pn"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </Section>
    <Section centerMdTitle centerTitle title="Noticiero" class="pb-20">
      <div
        class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center"
      >
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/YKk3-yuvuzw?si=cX-__mNIcAcPxJ0A"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/IatOB-gUlww?si=Z_igFMZTlddfkGAs"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/_NmYEOf8Rnk?si=wNX06kjxpHPK54nV"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/BV46e7QTHOo?si=AF3ZF1Kyj6IhAEyO"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="h-[300px] w-full"
          src="https://www.youtube.com/embed/F6l34aaXE5E?si=ZxmavCidRja9yqAK"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </Section>
    <Section
      centerMdTitle
      centerTitle
      title="Producciones literarias"
      class="pb-20"
    >
      <div
        class="grid gap-5 grid-cols-[repeat(auto-fit,minmax(250px,1fr))] place-content-center"
      >
        <Card
          id="Estoy mintiéndome"
          title="Estoy mintiéndome"
          description="Presioná el boton para entrar al archivo pdf"
          link="https://drive.google.com/file/d/1FR6R-hKKSXmiyY3iTpgc7Jrs_56oj30v/view?usp=drive_link"
        >
          <Button class="h-max flex items-center gap-3">
            Abrir <LinkIcon class="w-5" />
          </Button>
        </Card>
        <Card
          id="La luz del riachuelo"
          title="La luz del riachuelo"
          description="La luz del riachuelo"
          link="https://drive.google.com/file/d/15Dphsxrl54dtvVOhElADNciJNsrTDy6c/view?usp=sharing"
        >
          <Button class="h-max flex items-center gap-3">
            Abrir <LinkIcon class="w-5" />
          </Button>
        </Card>
        <Card
          id="El tesoro"
          title="El tesoro del diablo"
          description="El tesoro del diablo"
          link="https://drive.google.com/file/d/1KIw3MYPgtYv0lAtQx5DTuO71Ms0N4X9a/view?usp=sharing"
        >
          <Button class="h-max flex items-center gap-3">
            Abrir <LinkIcon class="w-5" />
          </Button>
        </Card>
      </div>
    </Section>
    <Section centerMdTitle centerTitle title="Otras producciones" class="pb-20">
      <div class="container pb-20 flex flex-col items-center gap-5 lg:flex-row">
        {
          mediaProductions.map(
            ({ title, description, media, mediaType, date, id, link }) => (
              <Card
                id={id}
                title={title}
                description={description}
                media={media[0]}
                mediaType={mediaType}
                link={link}
                date={date}
              />
            )
          )
        }
        <iframe
          class="h-[500px] w-full max-w-[700px]"
          src="https://www.youtube.com/embed/EX316IpH8Ls?si=gw-Ai89rkcw07JZo"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </Section>
  </main>
</Layout>
