---
import MainHeader from '../components/Home/MainHeader.astro'
import Presentation from '../components/Home/Presentation.astro'
import Section from '../components/Section.astro'
import Mission from '../components/Home/Mission.astro'
import SubjectsTable from '../components/Home/SubjectsTable.astro'
import Faq from '../components/Home/Faq.astro'
import Layout from '../layouts/Layout.astro'
import LastNews from '../components/Home/LastNews.astro'
---

<Layout title='ESOEF N56' description='ESOEF N56'>
  <MainHeader />
  <main class='overflow-x-hidden'>
    <Section
      title='Presentación'
      class='py-20'
      centerTitle={true}
      centerMdTitle={true}
    >
      <Presentation />
    </Section>
    <Section
      title='Nuestra misión'
      class='pb-20'
      centerTitle={true}
      centerMdTitle={true}
    >
      <Mission />
    </Section>
    <Section
      title='Estructura curricular'
      class='pb-20'
      centerTitle={true}
      centerMdTitle={true}
    >
      <SubjectsTable />
    </Section>
    <Section
      title='Ultimas novedades'
      class='pb-20'
      centerTitle={true}
      centerMdTitle={false}
    >
      <LastNews />
    </Section>
    <Section
      title='Preguntas frecuentes'
      class='pb-20'
      centerTitle={true}
      centerMdTitle={false}
    >
      <Faq />
    </Section>
  </main>
</Layout>
