---
import ImageCard from '../../components/ImageCard.astro'
import news from '../../data/news.json'
---

<div
  class='grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center'
>
  {
    Array.from(news.news).map(
      ({ title, description, media, mediaType, date, id }) => (
        <ImageCard
          cardType='news'
          id={id}
          title={title}
          description={description}
          media={media[0]}
          mediaType={mediaType}
          button='Leer más'
          date={date}
        />
      )
    )
  }
</div>
