---
import ImageCard from '../../components/ImageCard.astro'
import news from '../../data/news.json'
---

<div class='pb-20 flex flex-col gap-10 lg:flex-row md:justify-center'>
  <div>
    <img
      src='february-dates.webp'
      alt='Fechas de febrero'
      class='w-full max-w-[600px] mx-auto'
    />
  </div>
  <div>
    <video class='h-[500px] w-full' src='libreta-video.mp4' controls></video>
  </div>
</div>
<div
  class='grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center'
>
  {
    Array.from(news.news).map(
      ({ title, description, media, mediaType, date, id }) => (
        <ImageCard
          cardType='news'
          id={id}
          title={title}
          description={description}
          media={media[0]}
          mediaType={mediaType}
          button='Leer más'
          date={date}
        />
      )
    )
  }
</div>
