---
import Card from "@/components/common/Card.astro";
import { news } from "@/data/news";
---

<div
  class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center"
>
  {
    news.map(({ title, description, media, mediaType, date, id }) => (
      <Card
        id={id}
        title={title}
        description={description}
        media={media[0]}
        mediaType={mediaType}
        date={date}
        link={`/news/${id}`}
      />
    ))
  }
</div>
